<!DOCTYPE html>
<html>
    <head>
        <title>First React Component</title>
        <link rel="stylesheet" href="/base.css"></link>
    </head>
    <body>
        <div id="container"><%- content%></div>
        <script id="initialData" type="application/json">
          <%- initialData%>
        </script>
        <script type="text/javascript" src="/bundle.js"></script>
    </body>
</html>